# Allure report portal
https://allurereport.org/docs/junit5/

https://allurereport.org/docs/install/

# The JaCoCo Plugin
https://docs.gradle.org/current/userguide/jacoco_plugin.html
